@charset "UTF-8";
/*반응형 화면 크기*/
/*반응형, 브라우저 크기가 320px 이하일때*/
/*반응형, 브라우저 크기가 767px 이하일때*/
/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
/*반응형, 브라우저 크기가 1024px 이상일때*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    @세팅구역
*/
body {
  font-size: 14px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
  font-weight: 400;
  letter-spacing: 0.001em;
  color: #fff;
  background: #131313;
  word-break: keep-all;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  font: inherit;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

.link-line {
  display: inline-block;
  font-size: 13px;
  letter-spacing: 3px;
  border-radius: 100px;
  border: 1px solid #d5af31;
  padding: 15px 45px;
  transition-duration: 0.5s;
}
.overlay .link-line {
  padding: 10px 30px;
  border-radius: 5px;
}
.link-line:hover {
  border: 1px solid #131313;
}
.overlay .link-line:hover {
  background: #d5af31;
}
.footer .link-line:hover {
  background: #d5af31;
}

.link {
  transition-duration: 0.5s;
}
.link:hover {
  color: #d5af31;
}

.head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.head-area {
  padding-top: 58px;
  max-width: 1425px;
  margin: 0 auto;
}
.head-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.head-box {
  display: flex;
  position: relative;
  width: 33.3%;
}
.head-box:nth-child(1) {
  padding: 10px 10px 10px 20px;
  justify-content: flex-start;
}
.head-box:nth-child(2) {
  padding: 10px 10px 10px 10px;
  justify-content: center;
}
.head-box:nth-child(3) {
  padding: 10px 20px 10px 10px;
  justify-content: flex-end;
}
.head .logo {
  font-size: 36px;
  font-weight: 800;
}
.head .btn-menu {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.2em;
  z-index: 2;
}
.head .btn-chat {
  position: relative;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.2em;
}
.head .btn-chat > span:hover::before {
  width: 0%;
  transition: all 0.3s;
}
.head .btn-chat span::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0%;
  top: 60%;
  width: 100%;
  height: 2px;
  background: #d5af31;
  transition: all 0.3s;
}
.head .menu {
  color: #000;
}
.head .menu-area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: none;
  overflow-y: hidden;
  opacity: 0;
  z-index: 1;
}
.head .menu-item {
  padding: 20px 0;
  font-size: 50px;
  font-weight: 600;
}
.head .menu-item i {
  font-size: 20px;
  vertical-align: top;
}
.head .menu-item a {
  display: block;
  transition: all 0.3s;
}
.head .menu-item a:hover {
  color: #d5af31;
}

.footer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
}
.footer .group-inner1 {
  max-width: 1425px;
  margin: 0 auto;
  padding: 150px 20px 50px 20px;
  position: relative;
  display: flex;
}
.footer .group-inner1 .col-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  display: inline-block;
  width: 60%;
}
.footer .group-inner1 .col-left .text {
  position: relative;
  font-size: 72px;
  font-weight: 800;
  line-height: 1.3em;
  letter-spacing: 4px;
}
.footer .group-inner1 .col-left .text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #d5af31;
}
.footer .group-inner1 .col-left .desc {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.5em;
  margin: 50px 10% 60px 0;
}
.footer .group-inner1 .col-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 100px;
}
.footer .group-inner1 .col-right .nav-wrap {
  margin-bottom: 20px;
}
.footer .group-inner1 .col-right .nav-wrap .nav-list {
  display: flex;
  flex-wrap: wrap;
}
.footer .group-inner1 .col-right .nav-wrap .nav-list .nav-item {
  flex-basis: 33.333%;
  margin-bottom: 40px;
}
.footer .group-inner1 .col-right .nav-wrap .nav-list .nav-item .link-nav {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 4px;
}
.footer .group-inner1 .col-right .contact-inner {
  margin-bottom: 20px;
}
.footer .group-inner1 .col-right .contact-inner > span {
  font-size: 32px;
  font-weight: 500;
}
.footer .group-inner1 .col-right .contact-list {
  display: flex;
  justify-content: flex-start;
}
.footer .group-inner1 .col-right .contact-item {
  font-size: 21px;
  margin-right: 40px;
  margin-bottom: 20px;
}
.footer .group-inner2 {
  max-width: 1425px;
  margin: 0 auto;
  text-align: left;
}

.cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  transform: translate(-10%, -10%);
  border-radius: 50%;
  border: 1px solid #d5af31;
  opacity: 0.3;
  z-index: 999;
  pointer-events: none;
  transform: scale(1);
}
.cursor .cursor-follow {
  display: none;
}
.cursor .cursor-follow:hover {
  display: block;
}

.sc-intro {
  width: 100%;
  background: #131313;
}
.sc-intro .title-wrap {
  position: relative;
  padding: 200px 0 230px;
  z-index: 2;
}
.sc-intro .title-wrap .title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1384px;
  margin: 0 auto;
  text-align: center;
  font-size: 122px;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 1.2em;
}
.sc-intro .title-wrap .splitting .char {
  -webkit-animation: slide-in 0.8s cubic-bezier(0.5, 0, 0.5, 1) both;
          animation: slide-in 0.8s cubic-bezier(0.5, 0, 0.5, 1) both;
  -webkit-animation-delay: calc(60ms * var(--char-index));
          animation-delay: calc(60ms * var(--char-index));
}
@-webkit-keyframes slide-in {
  from {
    transform: translateY(-1em) rotate(-0.05turn) scale(0.5);
    opacity: 0;
  }
}
@keyframes slide-in {
  from {
    transform: translateY(-1em) rotate(-0.05turn) scale(0.5);
    opacity: 0;
  }
}
.sc-intro .drag-area {
  margin: 0 auto;
  height: 100vh;
  z-index: 1;
}
.sc-intro .drag-area .image-wrap {
  height: 100%;
  width: 100%;
  background-image: url(../images/visual.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.sc-description {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #131313;
}
.sc-description .description-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1384px;
  margin: 0 auto;
  padding: 150px 0 150px;
  text-align: center;
}
.sc-description .description-area .description-inner {
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 70px;
}
.sc-description .description-area .description-inner .text {
  font-size: 40px;
}
.sc-description .description-area .description-inner .text .link-color {
  -webkit-text-decoration: underline 2.5px;
          text-decoration: underline 2.5px;
}
.sc-description .description-area .description-inner .text .link-color:hover {
  transition-duration: 0.5s;
  color: #d5af31;
}

.sc-work {
  position: relative;
  background: #fff;
  color: #131313;
  width: 100%;
  padding-bottom: 100px;
}
.sc-work .title {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  font-size: 72px;
  font-weight: 800;
  text-align: left;
  margin: 0 0 50px 50px;
}
.sc-work .title::after {
  content: "";
  flex-grow: 1;
  background: #131313;
  height: 1px;
  margin-left: 20px;
}
.sc-work .work-area {
  display: flex;
  justify-content: center;
  max-width: 1384px;
  margin: 0 auto;
}
.sc-work .work-area .col-inner .group-flex {
  box-sizing: border-box;
}
.sc-work .work-area .col-inner .link-work {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 562px;
}
.sc-work .work-area .col-inner .link-work img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.35s;
}
.sc-work .work-area .col-inner .link-work:hover img {
  opacity: 1;
  transform: scale(1.1);
}
.sc-work .work-area .col-inner .link-work .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  opacity: 0;
  transition: height 0.5s, opacity 0.5s;
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0), #131313);
  z-index: 1;
  padding: 40px;
  color: #fff;
}
.sc-work .work-area .col-inner .link-work .work-title {
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3em;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.35s, opacity 0.35s;
}
.sc-work .work-area .col-inner .link-work .work-desc {
  width: 100%;
  font-size: 17px;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.35s, opacity 0.35s;
}
.sc-work .work-area .col-inner .link-work .link-box {
  width: 100%;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.35s, opacity 0.35s;
  margin-top: 15px;
}
.sc-work .work-area .col-inner .link-work .link-box .link-line {
  margin-right: 20px;
}
.sc-work .work-area .col-inner .link-work:hover .overlay {
  height: 60%;
  opacity: 1;
}
.sc-work .work-area .col-inner .link-work:hover .work-desc {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.35s 0.4s, opacity 0.35s 0.4s;
}
.sc-work .work-area .col-inner .link-work:hover .work-title {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.35s 0.2s, opacity 0.35s 0.2s;
}
.sc-work .work-area .col-inner .link-work:hover .link-box {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.35s 0.6s, opacity 0.35s 0.6s;
}
.sc-work .work-area .col-left {
  width: 60%;
}
.sc-work .work-area .col-left .group-flex:nth-child(2) {
  padding-top: 60px;
}
.sc-work .work-area .col-right {
  padding-left: 100px;
  width: 40%;
}
.sc-work .work-area .col-right .group-flex:nth-child(2) {
  padding: 0 0 60px 0;
}
.sc-work .work-area .col-right .work-info {
  margin-top: 30px;
}
.sc-work .work-area .col-right .work-info .text {
  display: block;
  font-size: 24px;
  line-height: 1.5em;
  margin-bottom: 30px;
}
.sc-work .work-area .col-right .work-info .text em {
  font-size: 26px;
  color: #d5af31;
}

.sc-edu {
  position: relative;
  width: 100%;
  background: #131313;
  color: #fff;
  padding: 180px 0;
}
.sc-edu .edu-area {
  max-width: 1150px;
  text-align: center;
  margin: 0 auto;
}
.sc-edu .edu-area .edu-wrap ul {
  display: flex;
  justify-content: center;
}
.sc-edu .edu-area .edu-wrap li {
  padding: 0 15px;
}
.sc-edu .edu-area .edu-wrap a {
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  width: 150px;
  padding: 9px 20px;
  margin-left: 8px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid hsla(0deg, 0%, 100%, 0.25);
  border-radius: 50px;
  vertical-align: top;
  transition: all 0.1s;
}
.sc-edu .edu-area .edu-wrap a.active {
  background: #fff;
  color: #131313;
}
.sc-edu .edu-area .chart-area {
  max-width: 900px;
  margin: 50px auto;
}
.sc-edu .edu-area .text-wrap {
  min-height: 250px;
}
.sc-edu .edu-area .text-wrap .text {
  display: block;
  font-size: 31px;
  font-weight: 500;
  line-height: 1.3em;
  margin-bottom: 30px;
}
.sc-edu .edu-area .text-wrap .text:nth-child(1) {
  padding: 0 20%;
}
.sc-edu .edu-area .group-image {
  display: flex;
  flex-wrap: wrap;
}
.sc-edu .edu-area .group-image .image-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 20%;
  margin-bottom: 70px;
}
.sc-edu .edu-area .group-image .image-wrap .image-inner {
  max-width: 120px;
}

.sc-service {
  padding: 180px 0;
  background: #fff;
  color: #131313;
}
.sc-service .service-area {
  position: relative;
  max-width: 1150px;
  display: flex;
  margin: 0 auto;
}
.sc-service .service-area .text-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
.sc-service .service-area .text-wrap .text {
  font-size: 28px;
  line-height: 1.3em;
  padding-right: 200px;
  margin-bottom: 30px;
}
.sc-service .service-area .text-wrap .text:nth-child(2) {
  margin-bottom: 100px;
}
.sc-service .service-area .service-wrap {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sc-service .service-area .service-wrap .service-box {
  flex-basis: 50%;
}
.sc-service .service-area .service-wrap .service-box .link-service {
  display: block;
  font-size: 28px;
  line-height: 1.3em;
}
.sc-service .service-area .service-wrap .service-box .service-list {
  display: flex;
  flex-direction: column;
}

.sc-attitude {
  position: relative;
  padding: 75px 0 200px;
  background: #fdfbf4;
  color: #131313;
  overflow-x: hidden;
}
.sc-attitude .text-wrap {
  max-width: 1150px;
  margin: 0 auto;
  padding: 100px 0;
}
.sc-attitude .text-wrap .text {
  position: relative;
  font-size: 18px;
}
.sc-attitude .text-wrap .text em {
  font-size: 72px;
  font-weight: 800;
  margin-right: 30px;
}
.sc-attitude .text-wrap .text::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0%;
  left: 0;
  background: #131313;
}
.sc-attitude .attitude-area {
  width: 100%;
  margin: 0 auto;
}
.sc-attitude .attitude-area .swiperBar {
  position: relative;
  max-width: 1150px;
  overflow: visible;
}
.sc-attitude .attitude-area .swiperBar .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: content-box;
  margin-bottom: 100px;
}
.sc-attitude .attitude-area .swiperBar .swiper-wrapper .swiper-slide {
  display: flex;
  width: 830px;
}
.sc-attitude .attitude-area .swiperBar .swiper-wrapper .swiper-slide .image-wrap {
  position: relative;
  flex-basis: 50%;
  overflow: hidden;
  height: 300px;
}
.sc-attitude .attitude-area .swiperBar .swiper-wrapper .swiper-slide .image-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-attitude .attitude-area .swiperBar .swiper-wrapper .swiper-slide .text-wrap {
  position: relative;
  flex-basis: 50%;
  overflow: hidden;
  height: 300px;
  padding: 0 5% 0 36px;
}
.sc-attitude .attitude-area .swiperBar .swiper-wrapper .swiper-slide .text-wrap .title {
  display: block;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3em;
  padding-bottom: 20px;
}
.sc-attitude .attitude-area .swiperBar .swiper-wrapper .swiper-slide .text-wrap .desc {
  display: block;
  font-size: 18px;
  line-height: 1.5em;
}
.sc-attitude .attitude-area .swiperBar .swiper-scrollbar {
  position: relative;
  display: block;
  margin-top: 100px;
  opacity: 1 !important;
  width: 100%;
  height: 2px;
}

.sc-eight {
  position: relative;
  padding: 100px 0;
  background: #fdfbf4;
  color: #131313;
}
.sc-eight .eight-area {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
}
.sc-eight .eight-area .text-wrap {
  text-align: center;
}
.sc-eight .eight-area .text-wrap .text {
  display: block;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.3em;
  margin-bottom: 30px;
}
.sc-eight .eight-area .post-wrap {
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
}
.sc-eight .eight-area .post-wrap .post-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 33.3333%;
  padding: 0 5%;
}
.sc-eight .eight-area .post-wrap .post-box em {
  font-size: 21px;
  font-weight: 500;
  color: #d5af31;
  margin: 10px 0;
}
.sc-eight .eight-area .post-wrap .post-box .link-post {
  display: block;
  overflow: hidden;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.3em;
}
.sc-eight .eight-area .post-wrap .post-box .link-post span {
  display: block;
}