body {
    transition: 1s ease;
    min-width: 1400px;
    &.white {
        background: #fff; color: #131313;
    }
}

.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
}

.link-line {
    display: inline-block;
    font-size: 13px;
    letter-spacing: 3px;
    border-radius: 100px;
    border: 1px solid #d5af31;
    padding: 15px 45px;
    transition: transform 1s, opacity .3s;
    .overlay & {
        padding: 10px 30px;
        border-radius: 5px;
    }
    
    &:hover {background: #d5af31; color: #fff; }
    .description-inner &:hover {
        display: block;
        border-radius: 100%;
        width: 50px; height: 50px;
        padding: 0;
        transform: scale(1.5);
        span {line-height: 50px;}
    }
}

.link {
    transition-duration: 0.5s;
    &:hover {
        color: #d5af31;
    }
}